

<h1>Books</h1>
<P>Title</P>
<P>Body</P>
<% @books.each do |book| %>
<main>
<span><%= book.title %></span>
<span><%= book.body %></span>
<%= link_to 'show', book_path(book.id) %>
<%= link_to "edit",edit_book_path(book.id) %>
<%= link_to "destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
</main>
<% end %>



<h1>New book</h1>
 <% if @book.errors.any? %>
  <%= @book.errors.count %>errors occurred

  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
 <% end %>


<%= form_with model: @book, url: '/books',method: :post do |f| %>
<h4>Title</h4>
<%= f.text_field:title %>

<h4>Body</h4>
<%= f.text_area:body %>
<div class=submit>
<%= f.submit 'Create Book' %>
</div>

<% end %>

