<main>
<h1>Books</h1>

<% @books.each do |book| %>

<P>Title</P>
<span><%= book.title %></span>

<P>Body</P>
<span><%= book.body %></span>

<% end %>

</main>


<div class="box">
<h1>New book</h1>

<%= form_with model: @book, url: '/books',method: :post do |f| %>

<h4>本のタイトル</h4>
<%= f.text_field:title %>

<h4>感想</h4>
<%= f.text_area:body %>

<%= f.submit '投稿' %>

<% end %>

</div>

